
<IfModule mod_rewrite.c>
RewriteEngine On

# Canonical local host: https://assignmenthelpusa.test
RewriteCond %{HTTP_HOST} ^www\.assignmenthelpusa\.test$ [NC]
RewriteRule ^ https://assignmenthelpusa.test%{REQUEST_URI} [L,R=301]

# Force HTTPS for the canonical local host.
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^assignmenthelpusa\.test$ [NC]
RewriteRule ^ https://assignmenthelpusa.test%{REQUEST_URI} [L,R=301]
</IfModule>

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /blog/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /blog/index.php [L]
</IfModule>

# END WordPress
